.admin-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 0.5fr 6fr;

  .admin-nav-bar {
    grid-column: 1 / span 2;

    nav {
      height: 66px;
      background-color: #ffffff;
      padding: 0px 30px;
      display: flex;
      align-items: center;
      img {
        height: 50px;
      }
      .spacer {
        flex: 1;
      }
      ul {
        margin: 0 10px;
        padding: 0;
        height: 100%;
        display: flex;

        li {
          list-style-type: none;
          padding: 0;

          button {
            width: 100%;
            height: 100%;
            background-color: inherit;
            border: none;
            outline: none;
            color: rgba(62, 11, 56, 0.89);
            font-size: 1.3em;
            &:hover {
              color: #ffffff;
              background-color: rgba(62, 11, 56, 0.89);
            }
          }
        }
      }
    }
  }
  .sidebar {
    height: 100%;
    background-color: rgba(62, 11, 56, 0.89);
    display: flex;
    align-items: center;
    min-width: 200px;
    .sidebar-content {
      height: 70%;
      width: 100%;
      ul {
        height: 50px;
        padding: 0 10px;
        margin: 10px 0;
        line-height: 50px;
        font-size: 1.1em;
        color: #ffffff;

        &:hover {
          background-color: rgba(139, 19, 125, 0.89);
        }
      }
    }
  }
  .admin-main-page {
    background-color: #f1eaea;
    overflow-y: scroll;
    .admin-page-nav {
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .admin-page-content {
      min-height: 80%;
      padding: 0px 20px;
    }
  }
}
