.admin-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 0.5fr 6fr;

  .sidebar {
    height: 100%;
    background-color: rgba(62, 11, 56, 0.89);
    display: flex;
    align-items: center;
    min-width: 200px;
    .sidebar-content {
      height: 70%;
      width: 100%;
      ul {
        height: 50px;
        padding: 0 10px;
        margin: 10px 0;
        line-height: 50px;
        font-size: 1.1em;
        color: #ffffff;

        &:hover {
          background-color: rgba(139, 19, 125, 0.89);
        }
      }
    }
  }
  .admin-main-page {
    background-color: #f1eaea;
    overflow-y: scroll;

    .admin-page-nav {
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .admin-page-content {
      min-height: 80%;
      padding: 0 20px;
      display: flex;

      .edit-user {
        width: 100%;

        .user-details {
          background-color: #ffffff;
          border-radius: 5px;
          padding: 20px 5px;
          margin-bottom: 30px;
          font-size: 1.1em;
          display: flex;
          align-items: center;
          .user-details-text {
            width: 65%;
          }
          .button-group {
            width: 30%;
            display: flex;
            justify-content: space-around;

            .edit-button {
              background-color: rgb(5, 116, 5);
              padding: 0 13px;
              font-size: 0.9em;
            }
            .cancel-button {
              background-color: #337ab7;
              font-size: 0.9em;
            }
            .delete-button {
              background-color: rgb(248, 63, 63);
              font-size: 0.9em;
              color: black;
            }
          }
          .user-details-text {
            line-height: 50px;
          }
        }
      }
    }
  }
}
