.admin-page {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}
.edit-user {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 100%;
  min-height: 95%;
  overflow: scroll;
}
.add-form {
  padding: 0 10px;
}
