*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Recursive", "sans-serif";
  background-color: #e5e5e5;
}

#root {
  height: 100vh;
  /* width: 100vw; */
}
.logo {
  width: 7rem;
}
.nav-button {
  margin: 10px;
}
.edit-button {
  background-color: green;
}
.edit-button:focus {
  background-color: green;
}
.edit-button:hover {
  background-color: green;
}
.delete-button {
  background-color: red;
}
.delete-button:focus {
  background-color: red;
}
.delete-button:hover {
  background-color: red;
}
.logout-button {
  height: 2em;
  border-radius: 5px;
}
.submit-button-container {
  display: flex;
  justify-content: center;
}
.submit-button-container .submit-button {
  margin: 5px 0;
}
.content {
  border-radius: 5px;
  /* border: 1px solid black; */
}
.container.content {
  display: grid;
  grid-template-rows: auto auto 1fr;
  place-items: center;
}
.footer {
  background-color: #f1f2f3;
  text-align: center;
}
.footer > p {
  margin: 5px 0;
  color: gray;
}
.heading {
  margin: 10px 0;
}

@media only screen and (max-width: 580px) {
  .container.content {
    width: 95%;
    padding: unset;
  }
}
